img{
    display: block;
    margin-left: auto;
    margin-right: auto
}

.page{
    margin: 0 25%;
    
    align-content: center;
}

body{
    font-family:fira;
}

@font-face {
    font-family: fira;
    src: url("Fonts/FiraCode_OTF_32/FiraCode-Regular.otf") format("opentype");
}

@font-face {
    font-family: fira;
    font-weight: medium;
    src: url("Fonts/FiraCode_OTF_32/FiraCode-Medium.otf") format("opentype");
}
@font-face {
    font-family: fira;
    font-weight: bold;
    src: url("Fonts/FiraCode_OTF_32/FiraCode-Bold.otf") format("opentype");
}