img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.page{
    margin-left: auto;
    margin-right: auto;
    margin-bottom:40px;
    width:800px;
    
}

.navbar {
    position: fixed;
    Background:#eeeeee;
    right: 0;
    bottom: 0%;
    list-style-type: none;

    width:100%;
    box-shadow: 0px -3px 5px #aaaaaa;
}

#togithubrepos{
    display:block;
    
    height:30px;
    margin: 0px -10% 0px 80%;
    
}
#togithubrepos img{
    display:inline;
}

#togithubrepos p{
    text-decoration:  none;
    color:#333333;
    
    display:inline;
}
body{
    font-family: 'Alegreya Sans', sans-serif;
    font-size:20px;
        
}
