a{
    text-decoration: none;
}
a:visited {
    color: #333;
}
a:hover {
    color: #888;
}

a:active {
    color: color: #888;
}

#phievologo {
       display: block;
    margin-left: auto;
    margin-right: auto;
}
.illustration{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.page{
    margin-left: auto;
    margin-right: auto;
    margin-bottom:50px;
    width:800px;
    
}
.licence{
    margin-top:40px;
    font-size:10px;
}

.link-bar {
    position: fixed;
    background-color:#eee;
    width: 100%;
    margin:0 auto;
    display: table;
    text-align: center;
    font-size:20px;
    right: 0;
    box-shadow: 0px -3px 5px #aaaaaa;
    bottom: 0%;
}


.link-bar .icon-link {
    float:right;
    display:table-cell;
    text-align: center; /* Center-align text */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: #333; /* White text color */
    text-decoration: none;
    min-width:30px;
    width:3%;
    padding:5px;
    font-size:30px;
}

.link-bar a:hover {
    color: #888; /* Add a hover color */
}
.link-text{
    display:none;
}


body{
    font-family: 'Alegreya Sans', sans-serif;
    font-size:20px; 
}
